.banner {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: var(--border-color);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  cursor: pointer;
}
