.console {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}
@media (hover: hover) {
  .button_quote:hover:not(:disabled) {
    background-color: #16f9db88;
  }
  .button_diffuse:hover:not(:disabled) {
    background-color: #52f91688;
  }
  .button_reaction:hover:not(:disabled) {
    background-color: #db16f988;
  }
  .button_reply:hover:not(:disabled) {
    background-color: #e6f91688;
  }
  .button_menu:hover:not(:disabled) {
    background-color: #f9161688;
  }
}
.button_quote:active:not(:disabled) {
    background-color: #16f9db88;
}
.button_diffuse:active:not(:disabled) {
    background-color: #52f91688;
}
.button_reaction:active:not(:disabled) {
    background-color: #db16f988;
}
.button_reply:active:not(:disabled) {
    background-color: #e6f91688;
}
.button_menu:active:not(:disabled) {
    background-color: #f9161688;
}
.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.number {
  overflow: hidden;
}
