.post {
  margin: 0;
  padding: 6px 8px 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--border-color);
}
.main_content {
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
