.post {
  background: var(--island-background-color);
  margin: 0;
  padding: 6px 8px 8px;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--border-color);
}
