.info {
  color: var(--inconspicuous-font-color);
  font-size: 0.8rem;
}
.info > div:first-child {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}
.info > div:last-child {
  display: flex;
  justify-content: space-between;
}
.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.number {
  font-size: 0.9rem;
  color: var(--font-color);
}
