.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header_left {
  display: flex;
  min-width: 0px;
}
.header_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  font-size: 12px;
  color: var(--inconspicuous-font-color);
  flex-shrink: 0;
}
