.post {
  background: var(--island-background-color);
  margin: 8px;
  padding: 6px 8px 8px;
  border: 0.5px solid var(--border-color);
  border-radius: 8px;
}
.post_to {
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--link-color);
}
.post_to a:hover {
  text-decoration: underline;
}
