.post {
  background: var(--island-background-color);
  margin: 0;
  padding: 6px 8px 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.main_content {
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
