.quote {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.9em;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}
.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name_id {
  color: var(--inconspicuous-font-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  color: var(--inconspicuous-font-color);
  white-space: nowrap;
  font-size: 0.8em;
}
.content {
  word-break: break-word;
}
