.reactions {
  margin: 0.5rem 0 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  overflow: hidden;
  scrollbar-width: none;
  overflow-x: scroll;
}
.reactions > button {
  background: var(--inconspicuous-background-color);
}
/* button inside */
.emoji {
  line-height: calc(1.75rem - 2px);
}
.emoji, .image {
  height: 100%;
}
.number {
  font-size: 0.75rem;
  margin: auto 0;
}
