.reactions {
  height: 22px;
  margin: 0.5rem 0 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.content {
  display: flex;
  height: 22px;
}
.content:first-child {
}
.content:last-child {
  scrollbar-width: none;
  overflow-x: scroll;
}
/* button */
.button {
  padding: 0 4px;
  border: 1px solid #0000;
  border-radius: 6px;
  margin: 0 7px 0 0;
  color: var(--inconspicuous-font-color);
  background: inherit;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button:hover:not(:disabled) {
  background: #fff3;
}
.button_reacted {
  border: 1px solid var(--link-color);
}
/* button inside */
.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.emoji, .image {
  height: 100%;
}
.number {
}
