nav.bottom-nav {
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  backdrop-filter: blur(3px);
  background: var(--blur-color);
}
.bottom-nav .header-list-container {
  width: 50px;
  height: 50px;
  margin: 5px 0;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}
.bottom-nav .header-list-container:hover {
  background: var(--hover-color);
}
.bottom-nav .header-list-icon {
  height: 36px;
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}
.bottom-nav .header-container1 .header-list-icon {
  height: 50px;
  width: 50px;
}
.bottom-nav .header-list-text {
  margin-left: 7px;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom-nav .header-new-item {
  color: var(--button-font-color);
  background: var(--button-color);
}
.bottom-nav .header-list-image {
  width: 36px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 18px;
  display: block;
}
@media (min-width: 700px) and (min-height: 720px) {
  nav.bottom-nav {
    display: none;
  }
}
