.wrap {
  display: flex;
}
main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.main-content {
  max-width: 800px;
  width: 100%;
}
.flash {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  right: 10px;
  background-color: #4fff67bb;
  z-index: 200;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
}
.global-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 86;
}