.wrap {
  max-width: 770px;
  margin: auto;
  display: flex;
}
main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.main-content {
  max-width: 700px;
  width: 100%;
  border-right: 1px solid var(--border-color);
}
.flash {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  right: 10px;
  background-color: #4fff67bb;
  z-index: 200;
}
.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
}
.global-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 86;
}
@media (min-width: 700px) and (min-height: 720px) {
  main {
  padding-bottom: 0;
  }
}
@media (max-width: 770px) {
  .main-content {
    border-right: none;
  }
}
@media (min-width: 1000px) {
  .wrap {
    max-width: 1030px;
  }
  .main-content {
    border-right: none;
  }
}
@media (min-width: 1150px) {
  .wrap {
    max-width: 1110px;
  }
}
@media (min-width: 1300px) {
  .wrap {
    max-width: 1240px;
  }
}
