.search-input {
  min-width: 70%;
  height: 32px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 0 7px;
  background: inherit;
  color: var(--font-color);
  box-sizing: border-box;
}
.search-button {
  width: 32px;
  height: 32px;
  margin-left: 4px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  background: inherit;
  color: var(--inconspicuous-font-color);
  box-sizing: border-box;
}
