.ol-account {
  display: flex;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}
.ol-plate {
  color: inherit;
  text-decoration: none;
  min-width: 0px;
  display: flex;
  flex-grow: 1;
}
.ol-ring {
  border: 2px solid;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  justify-content: center;
  height: 50px;
  box-sizing: border-box;
}
.ol-status {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
}
.ol-icon {
  border-radius: 100%;
  height: 42px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}
.ol-nameplate {
  margin-left: 6px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ol-name {
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ol-nameplate-under {
  display: flex;
  height: 20px;
}
.ol-name_id {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ol-others {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ol-button {
  padding: 7px 10px;
  border: 0;
  border-radius: 10px;
  white-space: nowrap;
  color: var(--button-font-color);
  background: var(--button-color);
  cursor: pointer;
}
