.item {
  position: relative;
  padding: 10px 7px;
  border-bottom: 1px var(--border-color) solid;
}

.reply-connector {
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 35px;
  background-color: var(--border-color);
  transform: translateX(-50%);
  z-index: 0;
}

.reply-connector::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--border-color);
}

.thread-connector {
  position: absolute;
  top: 35px;
  left: 5px;
  width: 2px;
  bottom: 0;
  background-color: var(--border-color);
  transform: translateX(-50%);
  z-index: 0;
}

.thread-connector::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--border-color);
}

/* INFO */
.item-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 12px;
  color: var(--inconspicuous-font-color);
}
.item-top-info {
  margin-top: 4px;
}
.iti-left {
}
.iti-right {
}
.item-bottom-info {
  margin-bottom: 4px;
}
.ibi-left {
}
.ibi-right {
}

/* CONTENT */
.item-content {
  min-height: 40px;
  padding: 5px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.item-content-images {
  display: grid;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}

.images-1 {
  grid-template-columns: 1fr;
}

.images-1 .item-content-image {
  max-height: 500px;
}

.images-2 {
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 2 / 1;
}

.images-3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2 / 1;
}
.images-3 .item-content-image-wrapper:first-child {
  grid-row: span 2;
}

.images-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2 / 1;
}

.images-5,
.images-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  aspect-ratio: 2 / 1;
}

.images-7,
.images-8,
.images-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1 / 1;
}

.item-content-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.item-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.item-content-video {
  width: 100%;
}

.item-content-youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
}

.item-content-youtube iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
