.diffuse {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 8px 0;
  padding: 8px 8px 0;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  color: var(--inconspicuous-font-color);
  font-size: 0.75rem;
}
.diffuse > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.diffuse > *:last-child {
  margin-left: auto;
  flex-shrink: 0.4;
}
.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
