.notifications-page {
  padding-bottom: 80px;
}

.notifications-list {
  display: flex;
  flex-direction: column;
}

.notification-item {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s;
  gap: 12px;
  background-color: var(--inactive-background-color);
}

.notification-unread {
  background-color: var(--active-background-color);
}

.notification-icon-wrapper {
  flex-shrink: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.notification-unread-indicator {
  text-align: center;
}

.notification-icon {
  font-size: 24px;
  text-align: center;
}

.notification-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.notification-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.actor-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.actor-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--inconspicuous-background-color);
}

.default-icon {
  width: 100%;
  height: 100%;
  background-color: var(--inconspicuous-font-color);
}

.notification-body {
    font-size: 15px;
    line-height: 1.4;
}

.actor-name {
  font-weight: bold;
  margin-right: 4px;
}

.notification-message {
  color: var(--font-color);
  white-space: pre-line;
}

.notification-post-preview {
  margin-top: 4px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--inconspicuous-font-color);
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notification-post-preview:hover {
  background-color: var(--inconspicuous-background-color);
}

.notification-post-media {

}

.notification-time {
  font-size: 13px;
  color: var(--inconspicuous-font-color);
  margin-top: 4px;
}

.loading, .no-more, .empty-state {
  padding: 20px;
  text-align: center;
  color: var(--inconspicuous-font-color);
}

.load-more-button {
  display: block;
  width: 100%;
  padding: 16px;
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.load-more-button:hover {
  background-color: var(--hover-color);
}

.settings-link-button {
  color: var(--inconspicuous-font-color);
  transition: background-color 0.2s, color 0.2s;
}

.settings-link-button:hover {
  background-color: var(--hover-color);
  color: var(--font-color);
}
