.item {
  padding: 10px 5px;
  border-bottom: 1px var(--border-color) solid;
}
/* INFO */
.item-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 12px;
  color: var(--inconspicuous-font-color);
}
.item-top-info {
  margin-top: 4px;
}
.iti-left {}
.iti-right {}
.item-bottom-info{
  margin-bottom: 4px;
}
.ibi-left {}
.ibi-right {}

/* CONTENT */
.item-content {
  min-height: 40px;
  padding: 5px;
  overflow-wrap: break-word;
}
.item-content-images {
  display: grid;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 8px;
  width: 100%;
}

.images-1 {
  grid-template-columns: 1fr;
  max-height: 500px;
}

.images-2 {
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 2 / 1;
}

.images-3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2 / 1;
}
.images-3 .item-content-image-wrapper:first-child {
  grid-row: span 2;
}

.images-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2 / 1;
}

.item-content-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.item-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.item-content-video {
  width: 100%;
}
